.card{
    border-radius:10px!important;
    overflow: hidden;
}

.card-image{
    height:160px;
    z-index:1;
}
.card-content{
    position: relative;
    z-index:2;
    background:var(--icons);
}
.card-content > .btn-floating{
    position: absolute;
    top:-20px;
    right:10px;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card-content> .btn-floating > i{
    color:var(--dark);
}

.card-title{
    font-size:1.4em!important;
    font-weight:550!important;
    color:var(--accent);
    opacity:0.85;
    margin-right:40px;
    text-transform:uppercase;
    line-height:19px!important;
}

.card-text::first-letter{
    text-transform:uppercase;
}
.card-text{
    margin-top:15px!important;
    line-height:17px;
    color:var(--secondary-text);
    font-weight:400;
}
.card-text > a:link{
    opacity: 1;
}
.card-text > a:visited{
    color:#9575CD;
}
.card-action{
    padding:0!important;
    display: grid!important;
    grid-template-columns:50% 50%;
    grid-template-rows:auto;
}
.card-action>a{
    margin:0!important;
    padding:20px;
    color:var(--dark)!important;
}
.card-action > a > i{
    line-height:0;
    position: relative;
    top:7px;
}