#profileCircle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    background: var(--icons);
}

#profileCircle::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("./default.png");
    background-size: 70.9%;
    background-repeat: no-repeat;
    background-position: center center;
}

#profileCircle>img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#cover {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0;
    background: url("./cover.jpg");
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    margin-top: -56px;
}

#cover>img {
    width: 100%;
}

#cover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, .8) inset;
}

#profile {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 90px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    left: 0;
    margin-top: -45px;
    z-index: 2;
}

#uid {
    font-size: 1.3em;
    width: 40%;
    color: var(--icons);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-weight: 550;
    margin:0;
}

#uid>span {
    color: var(--divider);
}

#infoProfile {
    margin-left: 15px;
}

#infoProfile>#emailInfo {
    align-items: center;
    width:85%;
    margin:0;
    color: var(--icons);
    position: relative;
    top:-5px;
}
#infoProfile>#completeInfo{
    margin-top:5px;
    font-weight:550;
    line-height:25px;
}
#infoProfile>#emailInfo>* {
    font-size:1em;
    margin:0;
}
#infoProfile>#emailInfo > i{
    line-height:0px;
    position: relative;
    top:3px;
}
#infoProfile>#emailInfo>span {
    opacity:0.75;
}

#buttonsInfo {
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:1fr 1fr;
    padding:20px;
}

#buttonsInfo>button {
    display:block;
    width:auto;
    margin-bottom:10px;
    font-weight:550;
}