.alertContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
}

.alertContainer>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    width: 90%;
}

.alertContainer>div>.alertInput {
    color: #777;
}

.alertContainer>div>.alertInput:focus {
    border-bottom: 1px solid var(--primary)!important;
    box-shadow: 0 1px 0 0 var(--primary)!important;
}

.alertContainer>div>.alertInput:focus+label {
    color: var(--primary);
}

.alertContainer>div>h4 {
    color: #000;
    text-transform: none;
    font-size: 1.6em;
    margin: 0;
}

.alertContainer>div>p {
    margin: 0;
    line-height: 17px;
    color: #555;
    margin: 5px 0;
    font-weight: 400;
}

.alertContainer>div>p>span {
    color: #000;
    font-weight: 550;
    display: inline-block;
    -webkit-user-select: initial;
}

.alertContainer>div>div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.alertContainer>div>div>button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 10px 15px;
    border-radius: 3px;
    background: #fff;
    font-weight: 550;
}

/* Confirmation Box */

.alertContainer>div>.confirmationType>.cancelAlertBtn {
    color:var(--primary);
}

.alertContainer>div>.confirmationType>.goAlertBtn {
    background:var(--primary);
    color: #fff;
}

/* Error Box */

.alertContainer>div>.errorType>.goAlertBtn {
    background: #F44336;
    color: #fff;
}

/* Alert Box */

.alertContainer>div>.primaryType>.cancelAlertBtn {
    color:var(--primary);
}

.alertContainer>div>.primaryType>.goAlertBtn {
    background:var(--primary);
    color: #fff;
}

.alertContainer>div>p>#profileContainerShare {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.alertContainer>div>p>#profileContainerShare>#shareCircle {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
}

.alertContainer>div>p>#profileContainerShare>#shareCircle>img {
    width: 100%;
}

.alertContainer>div>p>#profileContainerShare>#contentShare>h4 {
    color: var(--accent);
}

.alertContainer>div>p>#profileContainerShare>#contentShare>span {
    display: block;
    color: var(--secondary-text);
}
