#allSrc {
  position: relative;
  padding: 20px;
}

#allOneSrc {
  position: relative;
  padding: 0px;
  z-index: 1;
}

#srcTitle {
  position: relative;
  text-transform: none;
  color: var(--alter);
  width: 100%;
  padding: 20px;
  background: var(--secondary-text);
  font-weight: 550;
  font-size: 1.4em;
  z-index: 2;
}

#srcTitle span {
  font-size: 0.7em;
  color: var(--alter);
  text-transform: none;
  opacity: 0.8;
  margin: 0;
  display: block;
}

.noRes {
  padding: 0 20px 07px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -30%;
  width: 130%;
}

.noRes>img {
  position: relative;
  width: 66%;
}

.noRes>div h5 {
  text-align: right;
  text-transform: unset;
  color: var(--secondary-text);
  font-size: 1.5em;
}

.noRes>div p {
  text-align: right;
  display: block;
  line-height: 17px;
  color: var(--secondary-text);
  opacity: 0.85;
  margin: 5px 0 0 0;
}

.noRes>div h5>i {
  position: relative;
  top: 6px;
}