#logCont{
    padding:20px;
    width:100%;
}
.firebaseui-idp-button{
    -webkit-appearance:none;
    border:none;
    outline:none;
    box-shadow:none;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:15px 20px;
    border-radius:15px;
    color:var(--icons);
    background:var(--disable);
    text-align:left;
}
.firebaseui-list-item{
    margin:15px 0;
}
.firebaseui-list-item:nth-child(1){
    margin-top:0;
}
.firebaseui-list-item:nth-child(4){
    margin-bottom:0;
}
.firebaseui-idp-text-short{
    display:none;
}
.firebaseui-idp-icon{
    width:25px;
    margin-right:10px;
}
.firebaseui-idp-google{
    background:rgba(0, 0, 0,0.05);
    color:var(--secondary-text);
}
.firebaseui-idp-facebook{
    background:#3C5A99;
}
.firebaseui-title{
    font-size:1.4em;
    color:var(--accent);
    font-weight:550;
}
.firebaseui-input, .firebaseui-input-invalid{
    color:var(--secondary-text);
}
.firebaseui-input:focus, .firebaseui-input-invalid:focus {
    border-bottom: 1px solid var(--primary)!important;
    box-shadow: 0 1px 0 0 var(--primary)!important;
}

.firebaseui-container{
    background:#fff;
    padding:20px;
    border-radius:15px;
    position: absolute;
    top:50%;
    left:20px;
    width:calc(100% - 40px);
    transform:translateY(-50%);
    box-shadow:0 0 15px rgba(0, 0, 0,0.05);
}
.firebaseui-page-provider-sign-in {
    position: relative;
    top:0;
    transform:none;
    width:100%;
    left:0;
    padding:10px 20px;
}
.firebaseui-button{
    -webkit-appearance:none;
    border:none;
    outline:none;
    padding:15px 20px;
    background:#fff;
    color:var(--primary);
    cursor: pointer;
    border-radius:10px;
    font-weight:550;
}
.firebaseui-form-actions{
    float:right;
}
.firebaseui-id-submit{
    background:var(--primary);
    color:var(--icons);
}
.firebaseui-error{
    color:var(--secondary-text);
    opacity:.85;
    line-height:17px;
}

#logForm{
    padding:20px;
    background:#fff;
    border-radius:15px;
    position: relative;
    padding-bottom:70px;
}
#logForm > h4{
    color:var(--secondary-text);
    margin:0;
    font-size:1.5em;
    text-transform:none;
}
#logForm > p{
    margin:0;
    color:var(--secondary-text);
    line-height:17px;
    opacity:0.85;
    margin:5px 0 25px 0;
}
#logForm > .input-field > input{
    color:var(--secondary-text);
}
#logForm > .input-field > input:focus{
    border-bottom: 1px solid var(--primary)!important;
    box-shadow: 0 1px 0 0 var(--primary)!important;
}
#logForm > .input-field > input:focus + label{
    color:var(--primary);
}
#logForm > .input-field > .material-icons.prefix.active{
    color:var(--dark)!important;
}
#logForm > button{
    -webkit-appearance: none;
    border:none;
    box-shadow:none;
    outline:none;
    display:flex;
    align-items:center;
    width:100%;
    justify-content:center;
    padding:15px;
    border-radius:0 0 15px 15px;
    position: absolute;
    bottom:0;
    left:0;
    background:var(--disable);
    color:var(--icons);
    font-size:1.2em;
    font-weight:550;
}
#logForm > button > i{
    margin-right:10px;
}
#logSep{
    position: relative;
    display:block;
    margin:10px 0;
    width:100%;
    text-align:center;
    color:var(--secondary-text);
    opacity:0.85;
}
#logSep:before{
    content:'';
    width:45%;
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    height:1px;
    background:var(--secondary-text);
}
#logSep::after{
    content:'';
    width:45%;
    position: absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    height:1px;
    background:var(--secondary-text);
}