#logCont {
    padding: 20px;
    width: 100%;
    padding-top: 0;
    padding-bottom:70px;
    margin-top:-56px;
}

#socialLogin{
    width:100%;
    border-radius:0 0 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}
#socialLogin > button{
    width:100%;
    padding:5px;
    height:auto;
    font-weight:550;
}
#socialLogin > button:nth-child(1){
    background: #DB4437;
    color:var(--icons);
}

#socialLogin > button:nth-child(2){
    background: #3C5A99;
}

#logForm {
    background:var(--icons);
    margin-top:-100px;
    padding:25px;
    border-radius: 15px 15px 0 0;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    padding-bottom: 65px;
    z-index:2;
}

#logForm>h4 {
    color: var(--secondary-text);
    margin: 0;
    font-size: 1.4em;
    text-transform: none;
}

#logForm>p {
    margin: 0;
    color: var(--secondary-text);
    line-height: 17px;
    opacity: 0.85;
    margin: 5px 0 10px 0;
}

#logForm>div>.input-field>.helper-text {
    opacity: 0.5;
    font-weight: 400;
}

#logForm>div>#emm {
    margin-bottom: 20px;
}

#logForm>div>.input-field>input {
    color: var(--secondary-text);
}

#logForm>div>.input-field>.visible {
    position: absolute;
    padding: 10px;
    right: 0;
    color: var(--secondary-text);
}

#logForm>div .alreadyAccount {
    position: relative;
    color: var(--disable);
    margin: 0;
    text-align: left;
    width: 100%;
    display: block;
    color: var(--secondary-text);
    font-weight: 550;
    opacity: 0.7;
    margin-bottom:20px;
}

#logForm>div .alreadyAccount>button {
    -webkit-appearance: none;
    border: none;
    background: none;
    color: var(--disable);
    font-weight: 550;
}

#logForm>div .alr3{
    text-align:center;
}
#logForm>div .alr3 > button{
    display: block;
    margin:0 auto;
}

#logForm>div>.input-field>#forgotPassword{
    position: relative;
    top: 12px;
    color: var(--disable);
    margin: 0;
    text-align: center;
    width: 100%;
    display: block;
    color: var(--secondary-text);
    font-weight: 550;
    opacity: 0.7;
}


#logForm>div>.input-field>#forgotPassword>button {
    -webkit-appearance: none;
    border: none;
    background: none;
    color: var(--disable);
    font-weight: 550;
    display: block;
    margin:0 auto;
}


div>.input-field>.material-icons.prefix {
    color: var(--secondary-text);
}

#logForm>div>.input-field>.prefix.active {
    color: var(--secondary-text)!important;
}

.character-counter {
    color: var(--secondary-text);
}

#logForm>div>.input-field>input:focus {
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 1px 0 0 var(--primary);
}

#logForm>div>.input-field>input:focus+label {
    color: var(--primary);
}

#logForm>div>.input-field>input.valid {
    border-bottom: 1px solid lightgreen;
    box-shadow: 0 1px 0 0 lightgreen;
}

#logForm>div>.input-field>input.valid+label {
    color: lightgreen;
}

#logForm>div>.input-field>input.invalid {
    border-bottom: 1px solid var(--error);
    box-shadow: 0 1px 0 0 var(--error);
}

#logForm>div>.input-field>input.invalid+label {
    color: var(--error);
}

#logForm>button {
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--disable);
    color: var(--icons);
    font-size: 1em;
    font-weight: 550;
    text-transform:uppercase;
}

#logForm>button>i {
    margin-right: 10px;
    font-size:1.3em;
}

#logSep {
    position: relative;
    top:5px;
    display: block;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: var(--divider);
    opacity: 0.85;
}

#logSep:before {
    content: '';
    width: 31%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: var(--divider);
}

#logSep::after {
    content: '';
    width: 31%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: var(--divider);
}

#logBanner {
    overflow: hidden;
    padding: 55px 20px 100px 20px;
    width: calc(100% + 40px);
    background-color:#F44336;
    background: url('./back2.jpg');
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: -20px;
    z-index: 1;
}

#logBanner::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, .35);
    box-shadow:0 0 40px rgba(0,0,0,.7) inset;
    z-index: 1;
}

#logBanner>* {
    position: relative;
    z-index: 2;
    text-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

#logBanner>h4 {
    color: var(--icons);
    text-transform: none;
    margin: 0;
    font-size: 1.8em;
}

#logBanner>p {
    line-height: 16px;
    margin: 0;
    color: var(--icons);
    opacity: 0.7;
    margin-top: 5px;
}

#loginGroup {
    height: 245px;
    transition: height 0.7s ease, opacity 0.5s ease;
    overflow: hidden;
}

#siginGroup {
    height: 0;
    transition: height 0.7s ease, opacity 0.5s ease;
    overflow: hidden;
}
#loginBtn, #validAccount, #forgotBtn, #createAccount{
    text-transform:unset;
}
